@import 'media';

.left-block-container {
  width: 100%;
  border: 1px solid rgba(241, 235, 222, 1);
  border: none;
}

.top {
  height: 830px;
  border: none;
  background-color: rgba(17, 17, 17, 1);
  position: relative;
  overflow: hidden;
  .grille {
    opacity: 0.5;
    margin-top: 15px;
    height: auto;
    width: 1255px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .arrow {
    position: absolute;
    top: 750px;
    left: 303px;
    filter: brightness(0) invert(1);
    color: rgba(241, 235, 222, 1);
    height: 33px;
    width: 23px;
    z-index: 4;
    rotate: -90deg;
  }

  .text-container {
    position: relative;
    z-index: 1;
    color: rgba(241, 235, 222, 1);
    width: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    top: 291px;
    left: 81px;
    p {
      font-family: 'Azeret Mono', monospace;
      font-size: 16px;
      text-transform: uppercase;
    }
    div {
      margin-top: 20px;
      margin-bottom: -15px;
      font-family: 'Paper Johnny Eins', sans-serif;
      font-size: 100px;
      font-weight: 400;
      line-height: 90px;
      text-transform: uppercase;
    }

    .devis-button {
      margin-top: 52px;
      height: 45px;
    }
  }
}

.bottom {
  height: 429px;
  background-color: rgba(241, 235, 222, 1);
  border-bottom: 1px solid rgba(17, 17, 17, 1);
  .text-container {
    height: 280px;
    width: 405px;
    font-family: 'Azeret Mono', monospace;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    padding-top: 75px;
    margin-left: 81px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (max-width: $mobile) {
  .left-block-container {
    width: 100%;
  }

  .top {
    height: 460px;

    .text-container {
      top: 78px;
      left: 29px;
      width: 335px;

      p {
        font-size: 13px;
      }

      div {
        font-size: 70px;
        line-height: 64px;
      }

      .devis-button {
        margin-top: 36px;
        align-self: center;
        width: 227px;
        height: 50px;
      }
    }
  }

  .bottom {
    height: 460px;

    .text-container {
      width: 335px;
      margin-top: 70px;
      margin-left: 29px;
      font-size: 13px;
    }
  }
}
