@import 'media';

.left-block-container {
  width: 100%;
  height: 1259px;
  border: 1px solid rgba(241, 235, 222, 1);
  border: none;
}

.top {
  height: 70%;
  border: none;
  background-color: rgba(17, 17, 17, 1);
  position: relative;
  overflow: hidden;

  .grille {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .arrow {
    position: absolute;
    top: 817px;
    left: 303px;
    filter: brightness(0) invert(1);
    color: rgba(241, 235, 222, 1);
    height: 33px;
    width: 23px;
    z-index: 4;
    rotate: -90deg;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: translateX(-5px);
      transition: transform 0.3s;
    }
  }

  .text-container {
    position: relative;
    z-index: 1;
    color: rgba(241, 235, 222, 1);
    width: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    top: 354px;
    left: 81px;

    p {
      font-family: 'Azeret Mono', monospace;
      font-size: 16px;
      text-transform: uppercase;
    }
    div {
      margin-top: 18px;
      margin-bottom: -15px;
      font-family: 'Paper Johnny Eins', sans-serif;
      font-size: 100px;
      font-weight: 400;
      line-height: 90px;
      text-transform: uppercase;
    }

    .devis-button {
      margin-top: 52px;

      &:hover {
        background-color: rgba(17, 17, 17, 1);
        color: rgba(241, 235, 222, 1);
        border: 1px solid rgba(241, 235, 222, 1);
      }
    }
  }

  .button-container {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 12%;
    justify-content: start;
    .devis-button {
      width: 227px;
      height: 50px;
      margin-left: 81px;
      &:hover {
        background-color: rgba(17, 17, 17, 1);
        color: rgba(241, 235, 222, 1);
        border: 1px solid rgba(241, 235, 222, 1);
      }
    }
  }
}

.bottom {
  height: 30%;
  background-color: rgba(241, 235, 222, 1);
  border-bottom: 1px solid rgba(17, 17, 17, 1);

  .text-container {
    height: 280px;
    width: 405px;
    font-family: 'Azeret Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    padding-top: 55px;
    margin-left: 81px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (min-width: $tablet-hori) and (max-width: $tablet-hori-xl) {
  .left-block-container {
    height: auto;
  }

  .top {
    height: 834px;

    .text-container {
      left: 5%;
      top: 40%;
    }
    .button-container {
      display: flex;
      position: absolute;
      width: 100%;
      bottom: 7%;
      justify-content: center;
      .devis-button {
        width: 227px;
        height: 50px;
      }
    }
    .arrow {
      display: none;
    }
  }

  .bottom {
    height: 416px;
    .text-container {
      width: 90%;
      margin-left: 5%;
      padding-top: 65px;
    }
  }
}

@media (min-width: $tablet-vert) and (max-width: $tablet-vert-xl) {
  .left-block-container {
    height: auto;
  }

  .top {
    height: 614px;
    .text-container {
      top: 22%;
      left: 10%;
      width: 69%;
      div {
        font-size: 100px;
        line-height: 90px;
      }
    }
    .button-container {
      display: flex;
      position: absolute;
      width: 100%;
      bottom: 7%;
      justify-content: center;
      .devis-button {
        width: 227px;
        height: 50px;
        margin-left: 0;
      }
    }
  }

  .bottom {
    height: 340px;

    .text-container {
      width: 80%;
      margin-left: 10%;
      padding-top: 65px;
    }
  }
}

@media (min-width: $mobile-s) and (max-width: $mobile-xl) {
  .left-block-container {
    height: auto;
  }

  .top {
    height: 530px;
    .text-container {
      top: 17%;
      left: 7%;
      width: 85%;

      div {
        font-size: 70px;
        line-height: 64px;
      }
    }

    .button-container {
      display: flex;
      position: absolute;
      width: 100%;
      bottom: 15%;
      justify-content: center;
      .devis-button {
        width: 227px;
        height: 50px;
        margin-left: 0;
      }
    }
  }

  .bottom {
    height: 495px;

    .text-container {
      width: 85%;
      margin-left: 7%;
      padding-top: 15%;
    }
  }
}
