<div class="left-block-container">
  <div class="top">
    <img class="grille" src="grilles/Grille_gris.svg" alt="Grille" />
    <a (click)="scrollToText()">
      <img class="arrow" src="arrow-carou-left.svg" alt="" *ngIf="!isMobile" />
    </a>
    <div class="text-container">
      <p>Bienvenue chez</p>
      <div>les bonnes gueules</div>
      <p>Votre traiteur à la bonne franquette !</p>
    </div>
    <div class="button-container">
      <button (click)="goDevis()" class="devis-button">DEMANDER UN DEVIS</button>
    </div>
  </div>
  <div id="bottom" class="bottom">
    <div class="text-container">
      <p>
        Imaginez deux amis, anciens handballeurs professionnels, qui ont troqué leurs maillots pour
        des tabliers et leurs terrains de jeu pour des braseros.<br />
        Voilà l’esprit des Bonnes Gueules !
      </p>
      <p>
        Ici, on aime la bonne bouffe, les rires et les moments partagés autour du feu ! Avec notre
        brasero convivial, tout est réuni pour une ambiance chaleureuse et gourmande
      </p>
      <p>
        Les Bonnes Gueules s'occupent de tout... Vous, profitez! Parce qu’avec nous, chaque repas
        est une fête !
      </p>
    </div>
  </div>
</div>
