<div class="header-container" [class.transparent]="!isScrolled && isHomePage">
    <div (click)="goHome()" class="goHome" [class.transparent]="!isScrolled && isHomePage ">LES BONNES GUEULES</div>
    <div class="button-container">
        <button (click)="goToEquipe()" class="button">L'ÉQUIPE</button>
        <button (click)="goToPrestations()" class="button">NOS PRESTATIONS</button>
        <button (click)="goToLaCarte()" class="button">NOTRE CARTE</button>
        <div class="social-container">
            <img src="ic-social-instagram.svg" alt="Instagram" (click)="goToInstagram()">
            <img src="ic-social-facebook.svg" alt="Facebook" (click)="goToFacebook()">
        </div>
        <button *ngIf="showButtonDevis" (click)="goDevis()" class="devis-button">DEMANDER UN DEVIS</button>
    </div>
</div>