<div class="header-container" [class.transparent]="!isScrolled && isHomePage" *ngIf="!isMobile">
  <div (click)="goHome()" class="goHome">LES BONNES GUEULES</div>
  <div class="button-container">
    <button (click)="goHome()" class="button">ACCEUIL</button>
    <button (click)="goToEquipe()" class="button">L'ÉQUIPE</button>
    <button (click)="goToPrestations()" class="button">NOS PRESTATIONS</button>
    <button (click)="goToLaCarte()" class="button">NOTRE CARTE</button>
    <div class="social-container">
      <img src="ic-social-instagram.svg" alt="Instagram" (click)="goToInstagram()" />
      <img src="ic-social-facebook.svg" alt="Facebook" (click)="goToFacebook()" />
    </div>
    <button *ngIf="showButtonDevis" (click)="goDevis()" class="devis-button">
      DEMANDER UN DEVIS
    </button>
  </div>
</div>

<div
  class="header-mobile"
  [class.transparent]="!isScrolled && isHomePage && !menuIsOpen"
  *ngIf="isMobile"
>
  <button class="burger" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>
  <div *ngIf="menuIsOpen" class="menu-title">Menu</div>
  <button class="burger" (click)="toggleMenu()" *ngIf="menuIsOpen">
    <img class="croix" src="mobile/burger-croix.svg" alt="" />
  </button>

  <div class="goHome" *ngIf="!menuIsOpen" (click)="goHomePage()">LES BONNES GUEULES</div>

  <div class="modal-menu" *ngIf="menuIsOpen">
    <div class="menu-container">
      <div class="nav-container">
        <button (click)="goHome()">Acceuil</button>
        <button (click)="goToEquipe()">L'équipe</button>
        <button (click)="goToPrestations()">Nos prestations</button>
        <button (click)="goToLaCarte()">Notre carte</button>
      </div>
      <button (click)="goDevis()" class="devis-button">Demander un devis</button>
      <div class="social-container-mobile">
        <div class="social" (click)="goToInstagram()">
          <img src="ic-social-instagram.svg" alt="Instagram" />
          <button>Instagram</button>
        </div>
        <div class="social" (click)="goToFacebook()">
          <img src="ic-social-facebook.svg" alt="Facebook" />
          <button>Facebook</button>
        </div>
      </div>
      <img class="logo" src="LBG_Logo.svg" alt="" />
    </div>
  </div>
</div>
