
<div class="footer-container">

    <div class="top">
        <img src="LBG_Logo.svg" alt="Les Bonnes Gueules">
        <div class="text-container">
            <p-divider layout="vertical" />
            <div class="infos">
                <strong>à propos</strong>
                <p>Accueil</p>
                <p>notre carte</p>
                <p>Nos prestations</p>
                <p>l’équipe</p>
                <p>contact</p>
            </div>
            <p-divider layout="vertical" />
            <div class="infos">
                <strong>Nos prestations</strong>
                <p>Brasero</p>
                <p>Tourne-broche</p>
                <p>Fumoir</p>
            </div>
            <p-divider layout="vertical" />
            <div class="infos">
                <strong>Contact</strong>
                <p>Les bonnes gueules</p>
                <p>06 26 55 51 77</p>
                <p>brasserielesbonnesgueules&#64;gmail.com</p>
                <p>Instagram</p>
                <p>Faceboot</p>
            </div>
        </div>
    </div>
    <div class="bottom">
            <div>© Copyright Les Bonnes Gueules</div>
            <p>Mention légales</p>
            <p>plan du site</p>
    </div>

</div>