@import 'media';

.footer-container {
  width: 100%;
  height: 240px;
  background-color: rgba(241, 235, 222, 1);
  display: flex;
  flex-direction: column;
  img {
    height: 135px;
  }

  .click {
    cursor: pointer;
  }
}

.top {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-left: 81px;
}

.text-container {
  display: flex;
  flex-direction: row;
  margin-left: 373px;

  .p-divider.p-divider-vertical {
    min-height: 100px !important;
    height: 90%;
    border-right: 1px solid rgba(17, 17, 17, 1);
    margin-left: 60px;
  }

  .infos {
    margin-left: 30px;
    font-family: 'Azeret Mono', monospace;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
  }
}

.bottom {
  margin-top: 33px;
  height: 40px;
  border-top: solid 1px rgba(17, 17, 17, 1);
  display: flex;
  flex-direction: row;
  font-family: 'Azeret Mono', monospace;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 20px;
  align-items: center;
  padding-left: 80px;
  gap: 15px;
  p {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (max-width: $mobile) {
  .footer-mobile {
    height: auto;
    width: 100%;
    background-color: rgba(241, 235, 222, 1);
    display: flex;
    flex-direction: column;
    position: relative;

    .logo {
      position: absolute;
      top: -100px;
      left: 117px;
      height: 160px;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 77px;
    margin-left: 29px;
    margin-bottom: 50px;
    width: 349px;
    height: auto;
  }

  .footer-accordion {
    font-family: 'Azeret Mono', monospace;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;

    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 13px;
        height: 13px;
        transition: transform 0.3s ease;
        margin-right: 10px;

        &.rotated {
          transform: rotate(180deg);
        }
      }
    }

    .accordion-body {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      gap: 10px;
    }
  }

  .legal-container {
    height: 115px;
    border-top: solid 1px rgba(17, 17, 17, 1);
    display: flex;
    flex-direction: column;
    font-family: 'Azeret Mono', monospace;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
    align-items: center;

    .legals {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
