<div class="footer-container" *ngIf="!isMobile">
  <div class="top">
    <img src="LBG_Logo.svg" alt="Les Bonnes Gueules" />

    <div class="text-container">
      <p-divider layout="vertical" />
      <div class="infos">
        <div>à propos</div>
        <p class="click" (click)="goHome()">Accueil</p>
        <p class="click" (click)="goToLaCarte()">notre carte</p>
        <p class="click" (click)="goToPrestations()">Nos prestations</p>
        <p class="click" (click)="goToEquipe()">l’équipe</p>
        <p class="click" (click)="goDevis()">Devis</p>
      </div>
      <p-divider layout="vertical" />
      <div class="infos">
        <div>Nos prestations</div>
        <p class="click" (click)="goToPrestations()">Brasero</p>
        <p class="click" (click)="goToPrestations()">Fumoir</p>
      </div>
      <p-divider layout="vertical" />
      <div class="infos">
        <div>Contact</div>
        <p>Les bonnes gueules</p>
        <p>06 26 55 51 77</p>
        <p class="click" (click)="sendMail()">brasserielesbonnesgueules&#64;gmail.com</p>
        <p class="click" (click)="goToInstagram()">Instagram</p>
        <p class="click" (click)="goToFacebook()">Facebook</p>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div>© Copyright Les Bonnes Gueules</div>
    <p (click)="goToLegalNotices()">Mention légales</p>
    <p (click)="goToSiteMap()">plan du site</p>
    <p (click)="goToPrivacyPolicy()">Politique de cookies</p>
  </div>
</div>

<div class="footer-mobile" *ngIf="isMobile">
  <div class="logo-container">
    <img src="LBG_Logo.svg" alt="Les Bonnes Gueules" />
  </div>
  <div class="info-container">
    <div class="footer-accordion">
      <div class="accordion-header" (click)="toggleSection('à propos')">
        <h4>à propos</h4>
        <span>
          <img src="mobile/arrow-accordion.svg" alt="arrow" [class.rotated]="isOpen('à propos')" />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('à propos')">
        <p (click)="goHome()">Accueil</p>
        <p (click)="goToLaCarte()">notre carte</p>
        <p (click)="goToPrestations()">Nos prestations</p>
        <p (click)="goToEquipe()">l’équipe</p>
        <p (click)="goDevis()">Devis</p>
      </div>
    </div>
    <div class="footer-accordion">
      <div class="accordion-header" (click)="toggleSection('prestations')">
        <h4>Nos prestations</h4>
        <span>
          <img
            src="mobile/arrow-accordion.svg"
            alt="arrow"
            [class.rotated]="isOpen('prestations')"
          />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('prestations')">
        <p (click)="goToPrestations()">Brasero</p>
        <p (click)="goToPrestations()">Fumoir</p>
      </div>
    </div>
    <div class="footer-accordion">
      <div class="accordion-header" (click)="toggleSection('contact')">
        <h4>Contact</h4>
        <span>
          <img src="mobile/arrow-accordion.svg" alt="arrow" [class.rotated]="isOpen('contact')" />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('contact')">
        <p>Les bonnes gueules</p>
        <p (click)="callNumber()">06 26 55 51 77</p>
        <p (click)="sendMail()">brasserielesbonnesgueules&#64;gmail.com</p>
        <p (click)="goToInstagram()">Instagram</p>
        <p (click)="goToFacebook()">Facebook</p>
      </div>
    </div>
  </div>
  <div class="legal-container">
    <div class="legals">
      <p (click)="goToLegalNotices()">Mention légales</p>
      <p (click)="goToSiteMap()">plan du site</p>
      <p>© Copyright Les Bonnes Gueules</p>
    </div>
  </div>
</div>
