<div class="apero-container">
  <img class="grille" src="Grille.svg" alt="" />
  <div class="left-block">
    <h1>Apéro terre</h1>
    <div class="text-container">
      <p><span class="dot"></span>Jambon serrano</p>
      <p><span class="dot"></span>Paté basque</p>
      <p><span class="dot"></span>Lomo</p>
      <p><span class="dot"></span>Chorizo grillé</p>
      <p><span class="dot"></span>Coeur de canard</p>
      <p><span class="dot"></span>Os à moelle</p>
      <p><span class="dot"></span>Croque-monsieur</p>
      <p><span class="dot"></span>Croque-monsieur à la truffe</p>
      <p><span class="dot"></span>Croque-monsieur andouille camembert</p>
      <p><span class="dot"></span>Terrine artisanale</p>
      <p><span class="dot"></span>Canard aux abricots</p>
      <p><span class="dot"></span>Pruneaux aux lard</p>
      <p><span class="dot"></span>Brochette pilon de poulet au lard</p>
    </div>
  </div>
  <div class="mid-block">
    <div class="top">
      <h1>apéro mer</h1>
      <div class="text-container">
        <p><span class="dot"></span>Chipiron persillade</p>
        <p><span class="dot"></span>Crevette marinée</p>
        <p><span class="dot"></span>St Jacques chorizo</p>
        <p><span class="dot"></span>Fruits de mer</p>
      </div>
    </div>
    <div class="bottom">
      <h1>apéro sans viande</h1>
      <div class="text-container">
        <p><span class="dot"></span>Champignon farci</p>
        <p><span class="dot"></span>Camembert rôti</p>
        <p><span class="dot"></span>Ananas rôti</p>
        <p><span class="dot"></span>Piment de padròn</p>
        <p><span class="dot"></span>Gnocchi à la truffe</p>
        <p><span class="dot"></span>Maïs grillé</p>
        <p><span class="dot"></span>Chèvre chaud</p>
      </div>
    </div>
  </div>
  <img src="carte/apero-carte.png" alt="" />
</div>
