<div class="prestations-container">
  <div class="card-container" *ngFor="let prestation of prestations">
    <div class="carousel-container">
      <p-carousel
        [value]="prestation.img"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        autoplayInterval="3000"
        [showNavigators]="false"
      >
        <ng-template let-img #item>
          <div class="border border-surface rounded-border m-2 p-4">
            <div class="mb-4">
              <div class="relative mx-auto">
                <img [src]="img" [alt]="prestation.name" class="w-full rounded-border" />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="text-container">
      <button class="title">{{ prestation.name }}</button>
      <div class="description" [innerHTML]="prestation.description"></div>
    </div>
  </div>
</div>
