<div class="prestations-container">
  <div class="card-container" *ngFor="let prestation of prestations">
    <div class="carousel-container">
      <p-carousel
        [value]="prestation.img"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [autoplayInterval]="3000"
        [showNavigators]="false"
      >
        <ng-template let-img #item>
          <div class="img-container">
            <img [src]="img" [alt]="prestation.name" />
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="text-container">
      <button class="title">{{ prestation.name }}</button>
      <div class="description" [innerHTML]="prestation.description"></div>
    </div>
  </div>
</div>
