@import 'media';

.card-container {
  display: flex;
  flex-direction: row;
}

.carousel-container {
  width: 996px;
  height: 600px;
  overflow: hidden;

  ::ng-deep .p-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  ::ng-deep img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  ::ng-deep .p-carousel-container,
  ::ng-deep .p-carousel-items-content,
  ::ng-deep .p-carousel-items-container {
    height: 100%;
  }

  ::ng-deep .p-carousel-items-content {
    display: flex !important;
    justify-content: center;
  }

  ::ng-deep .border {
    border: none !important;
    margin: 0;
    padding: 0;
    background: transparent;
  }
}

.text-container {
  margin-left: 96px;
  align-self: center;
}

.title {
  font-family: 'Paper Johnny Eins';
  color: rgba(241, 235, 222, 1);
  background-color: rgba(17, 17, 17, 1);
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid rgba(241, 235, 222, 1);
  border-radius: 40px;
  height: 45px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
}

.description {
  color: rgba(241, 235, 222, 1);
  font-size: 13px;
  font-family: 'Azeret Mono', monospace;
  text-transform: uppercase;
  line-height: 20px;
  width: 340px;
  margin-top: 32px;
}

.prestations-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 82px;
}

@media (max-width: $mobile) {
  .prestations-container {
    height: auto;
    margin-bottom: 0;
  }
  .card-container {
    margin-bottom: 95px;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    gap: 50px;

    .carousel-container {
      width: 100%;
      height: 240px;
    }
  }

  .text-container {
    margin-left: 29px;
  }
}
