<div class="prestations-container">
  <div class="card-container" *ngFor="let prestation of prestations; let i = index">
    <div class="carousel-container">
      <div class="navigator-container">
        <button class="prev" (click)="scrollLeft(i)"><span>&lt;</span></button>
        <button class="next" (click)="scrollRight(i)"><span>&gt;</span></button>
      </div>
      <p-carousel
        #carouselRef
        [value]="prestation.img"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [autoplayInterval]="2500"
        [showNavigators]="false"
      >
        <ng-template let-img #item>
          <div class="img-container">
            <img [src]="img" [alt]="prestation.name" />
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="text-container">
      <button class="title">{{ prestation.name }}</button>
      <div class="description" [innerHTML]="prestation.description"></div>
    </div>
  </div>
</div>
