<div class="page-container">
  <div class="prestations-container">
    <div class="header">
      <h1>Nos prestations</h1>
      <img src="Grille.svg" alt="Grille" />
    </div>
    <app-prestation-card class="card" />
  </div>
  <div class="info-container">
    <div class="arrow-container">
      <div class="line-arrow">
        <div class="line"></div>
        <img class="arrow" src="arrow.svg" alt="Arrow" />
      </div>
      <div class="line-arrow">
        <div *ngIf="isMobile" class="line"></div>
        <img class="arrow" src="arrow.svg" alt="Arrow" />
      </div>
    </div>

    <div class="text-container">
      <div class="entreprise-text">
        <div>Entreprise</div>
        <p>- Portes ouvertes</p>
        <p>- Repas d’équipe</p>
        <p>- Anniversaire</p>
        <p>- Départ en retraite</p>
        <p>- Team building</p>
      </div>
      <div class="particulier-text">
        <div>Particulier</div>
        <p>- Mariage</p>
        <p>- Anniversaire</p>
        <p>- baptême</p>
        <p>- fête de famille</p>
        <p>- repas entre amis</p>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <img src="grille-zoom.svg" alt="Grille" />
    <div class="text-container">
      <div class="title">Vous voulez passer <br *ngIf="!isMobile" />un bon repas avec nous ?</div>
      <div class="button-container">
        <button (click)="goDevis()" class="devis-button">Demander un devis</button>
        <button (click)="goDevis()" class="call-button">Appeler</button>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="bavette.jpeg" alt="Bavette" />
  </div>
</div>
