@import 'media';

.boisson-container {
  height: 492px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  .grille {
    right: 0;
    position: absolute;
    object-fit: cover;
  }
  .image-container {
    z-index: 1;
  }
}

.right-block {
  z-index: 2;
}

h1 {
  margin-top: 65px;
  margin-left: 114px;
  font-family: 'Paper Johnny Eins', sans-serif;
  text-transform: uppercase;
  font-size: 33px;
}

.text-container {
  margin-top: 26px;
  margin-left: 114px;
  font-family: 'Azeret Mono', monospace;
  text-transform: uppercase;
  line-height: 30px;
}

@media (max-width: $mobile) {
  .boisson-container {
    height: auto;
    flex-direction: column-reverse;
  }

  .image-container {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;

    img {
      position: absolute;
      height: 320px;
      width: auto;
      bottom: 0px;
      left: -85px;
    }
  }

  .right-block {
    margin-bottom: 55px;
    h1 {
      margin-left: 29px;
    }

    .text-container {
      margin-left: 29px;
    }
  }
}
