<div class="boisson-container">
  <img class="grille" src="grilles/Grille_beige.svg" alt="" />
  <div class="image-container">
    <img src="carte/boisson-carte.webp" alt="" />
  </div>
  <div class="right-block">
    <h1>Pour s'hydrater</h1>
    <div class="text-container">
      <p><span class="dot"></span>Sangria</p>
      <p><span class="dot"></span>BIERE artisanale (Fût 20L / 30L)</p>
      <p><span class="dot"></span>Vin (rouge, blanc, rosé, pétillant)</p>
      <p><span class="dot"></span>Champagne</p>
      <p><span class="dot"></span>Soda artisanal</p>
    </div>
  </div>
</div>
