@import 'media';

.right-block-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: -65%;
    width: auto;
    height: 100%;
    border-color: red;
  }
}

@media (max-width: $mobile) {
  .right-block-container {
    width: 100%;
  }

  @media (max-width: $mobile) {
    .top {
      height: 390px;

      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        height: 500px;
        width: auto;
        top: 0;
        left: -230px;
      }
    }
  }
}
