<div class="right-block-container">
    <div class="top">
        <img src="duo.jpg" alt="Les bonnes gueules">
    </div>
    <div class="bottom">
        <img src="grille-claire.svg" alt="Grille">
        <div class="text-container">
            <div class="left-text">
                <div>Particulier</div>
                <p>- Mariage</p>
                <p>- Aniversaire </p>
                <p>- baptême</p>
                <p>- fête de famille</p>
                <p>- repas entre amis</p>
            </div>
            <p-divider layout="vertical" />
            <div class="right-text">
                <div>Entreprise</div>
                <p>- Portes ouvertes</p>
                <p>- Repas d’équipe</p>
                <p>- Aniversaire </p>
                <p>- départ en retraite</p>
                <p>- team building</p>
            </div>

        </div>
    </div>
</div>