@import 'media';

.right-block-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: -65%;
    width: auto;
    height: 100%;
    @media (max-width: $tablet-hori) {
      left: -90%;
      top: 90px;
      height: 1020px;
    }
  }
}

@media (max-width: $tablet-vert) {
  .right-block-container {
    width: 100%;
    height: 580px;
    @media (max-width: $mobile) {
      height: 430px;
    }
    img {
      position: absolute;
      height: 750px;
      width: auto;
      top: 27px;
      left: -205px;
      @media (max-width: $mobile) {
        height: 500px;
        top: 50px;
        left: -220px;
      }
    }
  }
}
///////////////////
