<div class="accompagnements-container">
  <img class="grille" src="Grille.svg" alt="" />
  <img src="carte/accompagnement-carte.png" alt="" />
  <div class="middle-block">
    <h1>Accompagnements</h1>
    <div class="text-container">
      <p><span class="dot"></span>Pommes de terre grenaille sautées</p>
      <p><span class="dot"></span>Légumes de saison</p>
      <p><span class="dot"></span>Piperade</p>
      <p><span class="dot"></span>Poêlée de champignons</p>
      <p><span class="dot"></span>Gratin dauphinois</p>
      <p><span class="dot"></span>Salade composée</p>
    </div>
  </div>
  <div class="right-block">
    <h1>Les sauces</h1>
    <div class="sub-title">2 sauces comprises au choix</div>
    <div class="text-container">
      <p><span class="dot"></span>Sauce au poivre</p>
      <p><span class="dot"></span>Sauce bearnaise</p>
      <p><span class="dot"></span>Sauce fourme d'Ambert</p>
    </div>
  </div>
</div>
