<div class="mid-block-container">
  <div class="text-container">
    <div>Nos prestations</div>

    <p class="text-desktop" *ngIf="!isMobile">
      Un show culinaire, entre flammes, gourmandiSE ET bonne humeur garantie !
    </p>

    <p class="text-mobile" *ngIf="isMobile">
      Vous êtes un particulier ou une entreprise et vous souhaitez organiser un événement ? Nous
      vous garantissons un show culinaire mêlant flammes, gourmandise et bonne humeur !
    </p>
    <button (click)="goToPrestations()">voir toutes nos prestations</button>
  </div>
  <div class="grille-container">
    <img src="grilles/Grille_beige.svg" alt="Grille" />
  </div>
  <div class="prestation-container" *ngIf="!isMobile">
    <div (click)="goToOnePrestation(prestation.id)" *ngFor="let prestation of prestations">
      <div class="img-container">
        <img src="{{ prestation.img }}" alt="{{ prestation.name }}" />
      </div>
      <div>{{ prestation.name }}</div>
    </div>
  </div>
  <div class="prestation-container-mobile" *ngIf="isMobile">
    <div (click)="goToOnePrestation(1)">
      <div class="img-container">
        <img src="mobile/brasero-mobile.png" alt="" />
      </div>
      <p>Brasero</p>
    </div>
    <div (click)="goToOnePrestation(2)">
      <div class="img-container">
        <img src="mobile/fumoir-mobile.png" alt="" />
      </div>
      <p>Fumoir</p>
    </div>
    <button (click)="goToPrestations()">voir toutes nos prestations</button>
  </div>
</div>
