<div class="mid-block-container">
  <div class="text-container">
    <div>Nos prestations</div>
    <button (click)="goToPrestations()">voir toutes nos prestations</button>
    <p class="text-desktop">
      Un show culinaire, entre flammes, gourmandiSE ET bonne humeur garantie !
    </p>
    <p class="text-mobile">
      Vous êtes un particulier ou une entreprise et vous souhaitez organiser un événement ? Nous
      vous garantissons un show culinaire mêlant flammes, gourmandise et bonne humeur !
    </p>
  </div>
  <div class="grille-container">
    <img src="grille-claire.svg" alt="Grille" />
  </div>
  <div class="carousel-fade"></div>
  <div class="prestation-container">
    <div (click)="goToPrestations()" *ngFor="let prestation of prestations">
      <div class="img-container">
        <img src="{{ prestation.img }}" alt="{{ prestation.name }}" />
      </div>
      <div>{{ prestation.name }}</div>
    </div>
  </div>
  <div class="prestation-container-mobile">
    <div (click)="goToPrestations()">
      <div class="img-container">
        <img src="mobile/brasero-mobile.png" alt="" />
      </div>
      <p>Brasero</p>
    </div>
    <div (click)="goToPrestations()">
      <div class="img-container">
        <img src="mobile/broche-mobile.png" alt="" />
      </div>
      <p>Tourne broche</p>
    </div>
    <div (click)="goToPrestations()">
      <div class="img-container">
        <img src="mobile/fumoir-mobile.png" alt="" />
      </div>
      <p>Fumoir</p>
    </div>
    <button (click)="goToPrestations()">voir toutes nos prestations</button>
  </div>
  <button class="prev" (click)="scrollLeft()"><img src="arrow-carou-left.svg" alt="left" /></button>
  <button class="next" (click)="scrollRight()">
    <img src="arrow-carou-right.svg" alt="right" />
  </button>
</div>
