@import 'media';

.mid-block-container {
  height: 637px;
  width: 100%;
  position: relative;
  background-color: rgba(241, 235, 222, 1);
}

.grille-container {
  height: 350px;
  width: 855px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

.text-container {
  position: absolute;
  top: 81px;
  left: 80px;
  z-index: 10;

  div {
    width: 200px;
    font-family: 'Paper Johnny Eins', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
  }

  button {
    width: 283px;
    height: 45px;
    background-color: rgba(17, 17, 17, 1);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Azeret Mono', monospace;
    color: rgba(241, 235, 222, 1);
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 32px;

    &:hover {
      background-color: rgba(241, 235, 222, 1);
      color: rgba(17, 17, 17, 1);
      border: 1px solid rgba(17, 17, 17, 1);
    }
  }

  p {
    font-family: 'Azeret Mono', monospace;

    text-transform: uppercase;
    width: 280px;
    line-height: 20px;
  }
}

.carousel-fade {
  position: absolute;
  height: 450px;
  width: 108px;
  background: linear-gradient(to right, rgba(241, 235, 222, 0), rgba(241, 235, 222, 1));
  right: 0;
  top: 71px;
  z-index: 1;
}

.prestation-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 24px;
  top: 71px;
  left: 467px;
  font-family: 'Azeret Mono', monospace;
  text-transform: uppercase;
  width: 1030px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.prestation-container::-webkit-scrollbar {
  display: none;
}

.img-container {
  height: 450px;
  width: 353px;
  cursor: pointer;
  margin-bottom: 10px;
  overflow: hidden;

  img {
    height: 450px;
    width: 353px;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
  }
}

.prev {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 286px;
  left: 434px;
}

.next {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 286px;
  right: 33px;
  z-index: 2;
}

@media (max-width: $tablet-vert) {
  .mid-block-container {
    display: flex;
    flex-direction: column;
    height: 1910px;
    @media (max-width: $mobile) {
      height: 1330px;
    }
  }

  .text-container {
    position: absolute;
    top: 61px;
    left: 90px;
    z-index: 2;

    @media (max-width: $mobile) {
      top: 76px;
      left: 29px;
    }

    .text-mobile {
      width: 600px;
      line-height: 20px;
      @media (max-width: $mobile) {
        width: 335px;
      }
    }

    button {
      margin-left: 160px;
      margin-top: 50px;
      height: 50px;
      @media (max-width: $mobile) {
        margin-left: 27px;
        margin-top: 35px;
      }
    }
  }

  .grille-container {
    height: 390px;
    width: 100%;
    @media (max-width: $mobile) {
      height: 413px;
    }
  }

  .prestation-container-mobile {
    position: absolute;
    top: 390px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 34px;
    font-family: 'Azeret Mono', monospace;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(17, 17, 17, 1);

    @media (max-width: $mobile) {
      top: 413px;
      gap: 34px;
    }

    p {
      text-align: center;
    }

    button {
      margin-left: 240px;
      width: 290px;
      height: 50px;
      background-color: rgba(17, 17, 17, 1);
      border: none;
      border-radius: 40px;
      cursor: pointer;
      font-family: 'Azeret Mono', monospace;
      color: rgba(241, 235, 222, 1);
      text-transform: uppercase;
      margin-top: 24px;
      margin-bottom: 32px;

      @media (max-width: $mobile) {
        margin-left: 52px;
      }
    }

    .img-container {
      height: 400px;
      width: 100%;
      overflow: hidden;
      position: relative;

      @media (max-width: $mobile) {
        height: 200px;
      }

      img {
        position: absolute;
        height: 400px;
        width: 100%;
        object-fit: cover;
        @media (max-width: $mobile) {
          height: 200px;
        }
      }
    }
  }
}
