@import 'media';

.mid-block-container {
  height: 637px;
  width: 100%;
  position: relative;
  background-color: rgba(241, 235, 222, 1);
}

.grille-container {
  height: 350px;
  width: 855px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

.text-container {
  position: absolute;
  top: 81px;
  left: 80px;
  z-index: 10;

  div {
    width: 200px;
    font-family: 'Paper Johnny Eins', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
  }

  button {
    width: 283px;
    height: 45px;
    background-color: rgba(17, 17, 17, 1);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Azeret Mono', monospace;
    color: rgba(241, 235, 222, 1);
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 32px;

    &:hover {
      background-color: rgba(241, 235, 222, 1);
      color: rgba(17, 17, 17, 1);
      border: 1px solid rgba(17, 17, 17, 1);
    }
  }

  p {
    font-family: 'Azeret Mono', monospace;

    text-transform: uppercase;
    width: 280px;
    line-height: 20px;
  }
}

.prestation-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 24px;
  top: 71px;
  left: 400px;
  font-family: 'Azeret Mono', monospace;
  text-transform: uppercase;
  width: 1097px;
  overflow: hidden;
  .presta-name {
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(17, 17, 17, 1);
    border-radius: 40px;
    font-family: 'Paper Johnny Eins', sans-serif;
    cursor: pointer;
    div {
      margin-top: 13px;
      font-size: 20px;
    }
  }
}

.img-container {
  height: 450px;
  width: 537px;
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;

  img {
    height: 450px;
    width: 540px;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
  }
}

@media (min-width: $tablet-hori) and (max-width: $tablet-hori-xl) {
  .mid-block-container {
    height: 960px;
  }
  .prestation-container {
    position: absolute;
    top: 350px;
    left: 0%;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
  }
}

@media (min-width: $tablet-vert) and (max-width: $tablet-vert-xl) {
  .mid-block-container {
    display: flex;
    flex-direction: column;
    height: 1450px;
  }

  .text-container {
    position: absolute;
    width: 80%;
    top: 5%;
    left: 10%;
    z-index: 2;

    .text-mobile {
      width: 100%;
      line-height: 20px;
    }

    button {
      margin-left: 160px;
      margin-top: 50px;
      height: 50px;
    }
  }

  .grille-container {
    height: 390px;
    width: 100%;
  }

  .prestation-container-mobile {
    position: absolute;
    top: 305px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 34px;
    font-family: 'Azeret Mono', monospace;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(17, 17, 17, 1);

    .prestation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .presta-name {
      width: 160px;
      height: 45px;
      border: 1px solid rgba(17, 17, 17, 1);
      border-radius: 40px;
      display: flex;
      justify-content: center;

      p {
        margin-top: 14px;
        font-size: 20px;
        font-family: 'Paper Johnny Eins', sans-serif;
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        margin-left: 0;
        width: 290px;
        height: 50px;
        background-color: rgba(17, 17, 17, 1);
        border: none;
        border-radius: 40px;
        cursor: pointer;
        font-family: 'Azeret Mono', monospace;
        color: rgba(241, 235, 222, 1);
        text-transform: uppercase;
        margin-top: 24px;
        margin-bottom: 32px;
      }
    }

    .img-container {
      height: 400px;
      width: 100%;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        height: 400px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: $mobile-s) and (max-width: $mobile-xl) {
  .mid-block-container {
    display: flex;
    flex-direction: column;
    height: 1190px;
  }

  .text-container {
    width: 85%;
    position: absolute;
    top: 76px;
    left: 29px;
    z-index: 2;

    .text-mobile {
      width: 100%;
      line-height: 20px;
    }

    button {
      margin-left: 0;
      margin-top: 35px;
      height: 50px;
    }
  }

  .grille-container {
    height: 413px;
    width: 100%;
  }

  .prestation-container-mobile {
    position: absolute;
    top: 350px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 34px;
    font-family: 'Azeret Mono', monospace;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(17, 17, 17, 1);

    .prestation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .presta-name {
      width: 160px;
      height: 45px;
      border: 1px solid rgba(17, 17, 17, 1);
      border-radius: 40px;
      display: flex;
      justify-content: center;

      p {
        margin-top: 14px;
        font-size: 20px;
        font-family: 'Paper Johnny Eins', sans-serif;
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        margin-left: 0;
        width: 290px;
        height: 50px;
        background-color: rgba(17, 17, 17, 1);
        border: none;
        border-radius: 40px;
        cursor: pointer;
        font-family: 'Azeret Mono', monospace;
        color: rgba(241, 235, 222, 1);
        text-transform: uppercase;
        margin-top: 24px;
        margin-bottom: 32px;
      }
    }

    .img-container {
      height: 250px;
      width: 100%;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        height: 105%;
        width: auto;
        object-fit: cover;
      }
    }
  }
}
