<div class="dessert-container">
  <img class="grille" src="grilles/Grille_beige.svg" alt="" />
  <div class="menu-container">
    <div class="left-block">
      <h1>Fromages</h1>
      <div class="text">Les plateaux sont sélectionnés par notre fromager local</div>
    </div>
    <div class="middle-block">
      <h1>Desserts</h1>
      <div class="text-container">
        <div class="sub-title">
          Au sein de l'équipe des Bonnes Gueules nous avons un pâtissier qui peut répondre à toutes
          vos envies.
        </div>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="carte/dessert-carte.png" alt="" />
  </div>
</div>
