<div class="dessert-container">
  <img class="grille" src="Grille.svg" alt="" />
  <div class="left-block">
    <h1>Fromages</h1>
    <div class="text">Notre fromage est sélectionné par notre fromager local</div>
  </div>
  <div class="middle-block">
    <h1>Desserts</h1>
    <div class="text-container">
      <div class="sub-title">Au sein de l'équipe des Bonnes Gueules nous avons un pâtissier.</div>
      <p><span class="dot"></span>mousse au chocolat</p>
      <p><span class="dot"></span>riz au lait</p>
      <p><span class="dot"></span>brioche perdu avec sauce</p>
      <p><span class="dot"></span>caramel beurre salé</p>
    </div>
  </div>
  <img src="carte/dessert-carte.png" alt="" />
</div>
