@import 'media';

.card-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 110px;

  img {
    height: auto;
    width: 100%;
  }
}

.name-block {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 427px;
  height: auto;
  width: 100%;
  .name-container {
    display: flex;
    flex-direction: row;

    height: 45px;
    width: auto;
    border-radius: 40px;
    background-color: rgba(241, 235, 222, 1);
    justify-content: center;
  }
}
.name {
  display: flex;
  font-family: 'Paper Johnny Eins', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  gap: 10px;
  margin: 15px 10px 0 34px;
}
.nickname {
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  margin: 0;
  margin-top: 12px;
  margin-right: 34px;
  text-transform: uppercase;
}

.text-container {
  margin-top: 58px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 20px;
  color: rgba(241, 235, 222, 1);
  font-family: 'Azeret Mono', 'Light', monospace;
  text-transform: uppercase;
  line-height: 20px;
  div {
    display: flex;
    justify-content: center;
  }
}

///////////Tablet Horizontal /////////////
@media (min-width: $tablet-hori) and (max-width: $tablet-hori-xl) {
  .text-container {
    width: 90%;
    margin-left: 5%;
  }
}

@media (min-width: $tablet-hori) and (max-width: 1179px) {
  .name-block {
    top: 65%;
  }
}

@media (min-width: 1180px) and (max-width: $tablet-hori-xl) {
  .name-block {
    top: 71%;
  }
}

///////////Tablet Vertical /////////////
@media (min-width: $tablet-vert) and (max-width: $tablet-vert-xl) {
  .card-container {
    margin-bottom: 70px;
  }

  .name-block {
    .name-container {
      width: 240px;
    }
  }

  .text-container {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: $tablet-vert) and (max-width: 800px) {
  .name-block {
    top: 58%;
  }
}
@media (min-width: 801px) and (max-width: $tablet-vert-xl) {
  .name-block {
    top: 60%;
  }
}

///////////Mobile /////////////
@media (min-width: $mobile-s) and (max-width: $mobile-xl) {
  .card-container {
    margin-bottom: 70px;
  }

  .name-block {
    .name-container {
      width: 240px;
    }
  }

  .text-container {
    width: 85%;
    margin-left: 7%;
  }
}

@media (min-width: $mobile-s) and (max-width: 380px) {
  .name-block {
    top: 57%;
  }
}
@media (min-width: 381px) and (max-width: $mobile-xl) {
  .name-block {
    top: 61%;
  }
}
