@import 'media';

.search-container {
  height: 171px;
  width: 100%;
  border-bottom: 1px solid rgba(17, 17, 17, 1);
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;

  .carte-button {
    margin-top: 84px;
    height: 45px;
    width: auto;
    background-color: rgba(241, 235, 222, 1);
    border: 1px solid rgba(17, 17, 17, 1);
    border-radius: 40px;
    cursor: pointer;
    padding: 14px 30px;
    font-family: 'Paper Johnny Eins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(17, 17, 17, 1);
      color: rgba(241, 235, 222, 1);
    }
  }

  .carte-button.active {
    background-color: rgba(17, 17, 17, 1);
    color: rgba(241, 235, 222, 1);
  }

  @media (max-width: $tablet-hori) {
    height: 190px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
    gap: 0 47px;
    align-items: center;
    padding-top: 50px;

    .carte-button {
      margin-top: 0;
      width: 260px;
      margin-left: 25px;
      margin-right: 25px;
      padding: 14px 30px;
    }
  }
}
