@import 'media';

.home-container {
  margin-top: -90px;
  display: flex;
  flex-direction: column;
}

.top-block {
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }

  img {
    height: 349px;
    top: 0;
    left: 475px;
    position: absolute;
  }

  .arrow {
    @media (max-width: $mobile) {
      display: none;
    }

    height: 39px;
    width: 39px;
    position: absolute;
    top: 1133px;
    left: 630px;
    z-index: 1;
  }
}
