@import 'media';

.home-container {
  margin-top: -90px;
  display: flex;
  flex-direction: column;
}

.top-block {
  display: flex;
  flex-direction: row;

  img {
    height: 349px;
    top: 0;
    left: 475px;
    position: absolute;
  }

  .arrow {
    height: 39px;
    width: 39px;
    position: absolute;
    top: 1133px;
    left: 630px;
    z-index: 1;
  }
}

@media (max-width: $mobile) {
  .top-block {
    flex-direction: column-reverse;

    img {
      height: 178px;
      top: 274px;
      left: 5%;
      z-index: 10;
    }

    .arrow {
      display: none;
    }
  }
}
