@import 'media';

.home-container {
  margin-top: -90px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-block {
  display: flex;
  flex-direction: row;
  width: 100%;

  app-left-block {
    width: 43%;
  }

  app-right-block {
    width: 57%;
  }

  img {
    height: 349px;
    top: 0;
    left: 475px;
    position: absolute;
    z-index: 1;
  }
}

app-mid-block {
  width: 100%;
}

app-bottom-block {
  width: 100%;
}

@media (min-width: $tablet-hori) and (max-width: 1179px) {
  .top-block img {
    height: 300px;
    left: 24%;
  }
}

@media (min-width: 1180px) and (max-width: $tablet-hori-xl) {
  .top-block img {
    height: 300px;
    left: 29%;
  }
}

@media (min-width: $tablet-vert) and (max-width: $tablet-vert-xl) {
  app-right-block {
    width: 100% !important;
  }

  app-left-block {
    width: 100% !important;
  }
  .top-block {
    flex-direction: column-reverse;

    img {
      height: 300px;
      top: 325px;
      left: 90px;
      z-index: 1;
      @media (max-width: $mobile) {
        height: 178px;
        top: 235px;
        left: 29px;
      }
    }
  }
}

@media (min-width: $mobile-s) and (max-width: $mobile-xl) {
  app-right-block {
    width: 100% !important;
  }

  app-left-block {
    width: 100% !important;
  }
  .top-block {
    flex-direction: column-reverse;

    img {
      height: 178px;
      top: 235px;
      left: 29px;
    }
  }
}
