@import 'media';

.page-container {
  margin-top: 90px;
  background-color: rgba(241, 235, 222, 1);
  .logo {
    position: absolute;
    height: 202px;
    top: 150px;
    right: 70px;

    @media (max-width: $tablet-hori) {
      height: 190px;
    }
  }

  .image-container {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    @media (max-width: $tablet-hori) {
      height: 250px;
    }
    img {
      position: absolute;
      top: -430px;
      left: -15px;
      width: 1520px;
      height: auto;

      @media (max-width: $tablet-hori) {
        top: -265px;
        left: -25px;
        width: 1050px;
      }
    }
  }
}

.header {
  display: flex;
  background-color: rgba(17, 17, 17, 1);
  height: 211px;
  width: 100%;
  position: relative;
  overflow: hidden;
  h1 {
    font-family: 'Paper Johnny Eins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    align-self: center;
    color: rgba(241, 235, 222, 1);
    z-index: 1;
  }
  .grille {
    position: absolute;
    object-fit: cover;
    top: -1px;
  }

  .text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    margin-left: 80px;
    .text {
      color: rgba(241, 235, 222, 1);
      font-family: 'Azeret Mono', monospace;
      text-transform: uppercase;
      line-height: 20px;
      width: 389px;
      letter-spacing: 0.5px;
      z-index: 1;

      .link {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    p {
      text-decoration: underline;
    }

    @media (max-width: $tablet-hori) {
      gap: 30px;
      margin-left: 25px;
    }
  }
}

.bottom-container {
  height: 200px;
  background-color: rgba(17, 17, 17, 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    object-fit: cover;
  }

  .text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 11px;
    gap: 317px;

    .title {
      width: 644px;
      font-family: 'Paper Johnny Eins', sans-serif;
      font-size: 50px;
      text-transform: uppercase;
      z-index: 1;
      color: rgba(241, 235, 222, 1);
      line-height: 50px;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      gap: 32px;
      z-index: 1;

      .devis-button {
        color: rgba(17, 17, 17, 1);
        background-color: rgba(241, 235, 222, 1);
        height: 45px;
        text-transform: uppercase;

        &:hover {
          background-color: rgba(17, 17, 17, 1);
          color: rgba(241, 235, 222, 1);
          border: 1px solid rgba(241, 235, 222, 1);
        }
      }

      .call-button {
        color: rgba(241, 235, 222, 1);
        background-color: rgba(17, 17, 17, 1);
        border: 1px solid rgba(241, 235, 222, 1);
        height: 45px;
      }
    }
  }
}
@media (min-width: $tablet-hori) and (max-width: $tablet-hori-xl) {
}

@media (min-width: $tablet-vert) and (max-width: $tablet-vert-xl) {
  .header {
    height: auto;

    .text-container {
      flex-direction: column-reverse;
      gap: 50px;
      margin-top: 65px;
      margin-bottom: 83px;

      .text {
        width: 80%;
      }
    }
  }

  .carte-accordion {
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;

    .title {
      h4 {
        font-family: 'Paper Johnny Eins', sans-serif;
        font-size: 20px;
        margin-top: 16px;
      }
      border: 1px solid rgba(17, 17, 17, 1);
      border-radius: 40px;
      padding: 0 29px 0 29px;
      height: 45px;
    }

    .title.active {
      background-color: rgba(17, 17, 17, 1);
      color: rgba(241, 235, 222, 1);
    }

    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 145px;
      border-bottom: 1px solid rgba(17, 17, 17, 1);
      padding-left: 29px;
      padding-right: 20px;

      img {
        width: 28px;
        height: 13px;
        transition: transform 0.3s ease;
        margin-right: 10px;

        &.rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
  .image-container {
    position: relative !important;
    height: 250px !important;
    width: 100% !important;

    img {
      top: -155px !important;
      left: -15px !important;
      height: 550px !important;
      width: auto !important;
    }
  }

  .bottom-container {
    flex-direction: column;
    height: 250px;
    position: relative;
    background-color: rgba(17, 17, 17, 1);

    .text-container {
      height: 393px;
      width: 80%;
      flex-direction: row;
      justify-content: space-between;
      gap: 51px;

      .button-container {
        flex-direction: column;
        gap: 25px;
        margin-top: 9px;

        button {
          width: 210px;
        }
      }
      .title {
        margin-top: 20px;
        width: 335px;
        font-size: 36px;
        line-height: 35px;
      }
    }
  }
}

@media (min-width: $mobile-s) and (max-width: $mobile-xl) {
  .header {
    height: auto;

    .text-container {
      flex-direction: column-reverse;
      gap: 50px;
      margin-left: 7%;
      margin-right: 7%;
      margin-top: 65px;
      margin-bottom: 83px;

      .text {
        width: 100%;
      }
    }
  }

  .carte-accordion {
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;

    .title {
      h4 {
        font-family: 'Paper Johnny Eins', sans-serif;
        font-size: 20px;
        margin-top: 16px;
      }
      border: 1px solid rgba(17, 17, 17, 1);
      border-radius: 40px;
      padding: 0 29px 0 29px;
      height: 45px;
    }

    .title.active {
      background-color: rgba(17, 17, 17, 1);
      color: rgba(241, 235, 222, 1);
    }

    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 145px;
      border-bottom: 1px solid rgba(17, 17, 17, 1);
      padding-left: 29px;
      padding-right: 20px;

      img {
        width: 28px;
        height: 13px;
        transition: transform 0.3s ease;
        margin-right: 10px;

        &.rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
  .image-container {
    position: relative !important;
    height: 300px !important;
    width: 100% !important;

    img {
      top: -70px !important;
      left: -190px !important;
      height: 435px !important;
      width: auto !important;
    }
  }

  .bottom-container {
    flex-direction: column;
    height: 440px;
    position: relative;
    background-color: rgba(17, 17, 17, 1);

    .text-container {
      margin-top: 51px;
      height: 393px;
      flex-direction: column;
      justify-content: start;
      gap: 51px;
      width: 85%;
      margin-left: 7%;
      margin-right: 7%;

      .button-container {
        flex-direction: column;
        gap: 25px;
        margin-top: 9px;

        button {
          width: 210px;
        }
      }
      .title {
        margin-top: 20px;
        width: 335px;
        font-size: 36px;
        line-height: 35px;
      }
    }
  }
}
