@import 'media';

.page-container {
  margin-top: 90px;
  background-color: rgba(241, 235, 222, 1);
  .logo {
    position: absolute;
    height: 202px;
    top: 150px;
    right: 70px;
  }

  .image-container {
    display: flex;
    height: 300px;
    overflow: hidden;
    align-items: center;
  }

  .footer-container {
    height: 200px;
    background-color: rgba(17, 17, 17, 1);
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    position: relative;

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 32px;
      margin-top: 72px;
      z-index: 1;

      .devis-button {
        height: 45px;
        text-transform: uppercase;
      }
    }
  }
}

.header {
  display: flex;
  background-color: rgba(17, 17, 17, 1);
  height: 211px;
  width: 100%;
  position: relative;
  overflow: hidden;
  h1 {
    font-family: 'Paper Johnny Eins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    align-self: center;
    color: rgba(241, 235, 222, 1);
    z-index: 1;
  }
  .grille {
    position: absolute;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
  }

  .text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    margin-left: 80px;
    .text {
      color: rgba(241, 235, 222, 1);
      font-family: 'Azeret Mono', monospace;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 20px;
      width: 389px;
      letter-spacing: 0.5px;
      z-index: 1;

      .link {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    p {
      text-decoration: underline;
    }
  }
}

@media (max-width: $mobile) {
  .header {
    height: auto;

    .text-container {
      flex-direction: column-reverse;
      gap: 50px;
      margin-left: 29px;
      margin-top: 65px;
      margin-bottom: 83px;
      .text {
        width: 335px;
      }
    }
  }

  .carte-accordion {
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;

    .title {
      h4 {
        font-family: 'Paper Johnny Eins', sans-serif;
        font-size: 20px;
        margin-top: 16px;
      }
      border: 1px solid rgba(17, 17, 17, 1);
      border-radius: 40px;
      padding: 0 29px 0 29px;
      height: 45px;
    }

    .title.active {
      background-color: rgba(17, 17, 17, 1);
      color: rgba(241, 235, 222, 1);
    }

    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 145px;
      border-bottom: 1px solid rgba(17, 17, 17, 1);
      padding-left: 29px;
      padding-right: 20px;

      img {
        width: 28px;
        height: 13px;
        transition: transform 0.3s ease;
        margin-right: 10px;

        &.rotated {
          transform: rotate(180deg);
        }
      }
    }

    .accordion-body {
      margin-top: 10px;
    }
  }

  .image-container {
    position: relative;
    height: 300px;
    width: 100%;
    img {
      position: absolute;
      top: -70px;
      left: -190px;
      height: 435px;
    }
  }
}
