<div class="page-container">
  <div class="header">
    <div class="text-container">
      <div class="text">
        Nous proposons une variété de mets de qualité à partager, à savourer sous forme d’apéritif
        dînatoire ou de repas assis, autour d’un brasero, d’un tournebroche ou d’un fumoir. <br />
        <div class="link" (click)="goToPrestations()">> découvrez nos prestations</div>
      </div>
      <h1>Notre carte</h1>
    </div>
    <img class="grille" src="grilles/Grille_gris.svg" alt="" />
  </div>
  <img class="logo" src="LBG_Logo.svg" alt="" *ngIf="!isMobile" />
  <app-search-menu (categorySelected)="onCategorySelected($event)" *ngIf="!isMobile" />

  <ng-container [ngSwitch]="selectedCategory" *ngIf="!isMobile">
    <app-apero-card *ngSwitchCase="'APERO'" />
    <app-plats-card *ngSwitchCase="'PLATS'" />
    <app-accompagnements-card *ngSwitchCase="'ACCOMPAGNEMENTS'" />
    <app-fromage-dessert-card *ngSwitchCase="'FROMAGE & DESSERT'" />
    <app-boisson-card *ngSwitchCase="'BOISSONS'" />
    <app-menu-enfant-card *ngSwitchCase="'MENU ENFANT'" />
  </ng-container>

  <div class="carte-mobile" *ngIf="isMobile">
    <div class="carte-accordion" #apero>
      <div class="accordion-header" (click)="toggleSection('apero', apero)">
        <div class="title">
          <h4 [class.active]="isOpen('apero')">Apéro</h4>
        </div>
        <span>
          <img src="mobile/arrow-accordion.svg" alt="arrow" [class.rotated]="isOpen('apero')" />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('apero')">
        <app-apero-card />
      </div>
    </div>
    <div class="carte-accordion" #plat>
      <div class="accordion-header" (click)="toggleSection('plat', plat)">
        <div class="title">
          <h4 [class.active]="isOpen('plat')">Plat</h4>
        </div>
        <span>
          <img src="mobile/arrow-accordion.svg" alt="arrow" [class.rotated]="isOpen('plat')" />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('plat')">
        <app-plats-card />
      </div>
    </div>
    <div class="carte-accordion" #accompagnements>
      <div class="accordion-header" (click)="toggleSection('accompagnements', accompagnements)">
        <div class="title">
          <h4 [class.active]="isOpen('accompagnements')">Accompagnements</h4>
        </div>
        <span>
          <img
            src="mobile/arrow-accordion.svg"
            alt="arrow"
            [class.rotated]="isOpen('accompagnements')"
          />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('accompagnements')">
        <app-accompagnements-card />
      </div>
    </div>
    <div class="carte-accordion" #fromage>
      <div class="accordion-header" (click)="toggleSection('fromage', fromage)">
        <div class="title">
          <h4 [class.active]="isOpen('fromage')">Fromage & Dessert</h4>
        </div>
        <span>
          <img src="mobile/arrow-accordion.svg" alt="arrow" [class.rotated]="isOpen('fromage')" />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('fromage')">
        <app-fromage-dessert-card />
      </div>
    </div>
    <div class="carte-accordion" #boisson>
      <div class="accordion-header" (click)="toggleSection('boisson', boisson)">
        <div class="title">
          <h4 [class.active]="isOpen('boisson')">Boissons</h4>
        </div>
        <span>
          <img src="mobile/arrow-accordion.svg" alt="arrow" [class.rotated]="isOpen('boisson')" />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('boisson')">
        <app-boisson-card />
      </div>
    </div>
    <div class="carte-accordion" #menuEnfant>
      <div class="accordion-header" (click)="toggleSection('menu-enfant', menuEnfant)">
        <div class="title">
          <h4 [class.active]="isOpen('menu-enfant')">Menu enfant</h4>
        </div>
        <span>
          <img
            src="mobile/arrow-accordion.svg"
            alt="arrow"
            [class.rotated]="isOpen('menu-enfant')"
          />
        </span>
      </div>
      <div class="accordion-body" *ngIf="isOpen('menu-enfant')">
        <app-menu-enfant-card />
      </div>
    </div>
  </div>

  <div class="bottom-container">
    <img *ngIf="isMobile" src="grilles/Grille_gris.svg" alt="Grille" />
    <div class="text-container">
      <div *ngIf="isMobile" class="title">
        Vous voulez passer <br *ngIf="!isMobile" />un bon repas avec nous ?
      </div>
      <div class="button-container">
        <button (click)="goDevis()" class="devis-button">Demander un devis</button>
        <button (click)="callNumber()" class="call-button" *ngIf="isMobile">Appeler</button>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="bavette.jpeg" alt="Bavette" />
  </div>
</div>
