//////MOBILE//////////
$mobile-s: 360px;
$mobile: 380px;
$mobile-xl: 767px;
//////TABLET//////////
$tablet-vert: 768px;
$tablet-vert-xl: 1023px;
$tablet-hori: 1024px;
$tablet-hori-xl: 1280px;
//////DESKTOP//////////
$desktop: 1440px;
$desktop-xl: 1920px;
