/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }

  .devis-button {
    font-family: 'Azeret Mono', monospace;
    font-size: 13px;
    width: 197px;
    border-radius: 40px;
    border: none;
    background-color: rgba(241, 235, 222, 1);
    cursor: pointer;
}
