<div class="bottom-block-container">
  <img class="logo" src="LBG_Logo.svg" alt="" *ngIf="!isMobile" />
  <div class="bavette">
    <img src="bavette.jpeg" alt="" />
  </div>
  <div class="pics-container" *ngIf="!isMobile">
    <div class="pics">
      <img src="hadri-quent.png" alt="" />
      <img src="porc.png" alt="" />
    </div>
  </div>
  <div class="button-container">
    <button (click)="callNumber()" class="call-button" *ngIf="isMobile">Appeler</button>
    <button (click)="goDevis()" class="devis-button">Demander un devis</button>
  </div>
  <div class="grille-container">
    <img src="grille-zoom.svg" alt="" />
  </div>
</div>
