<div class="bottom-block-container">
  <img class="logo" src="LBG_Logo.svg" alt="" *ngIf="!isMobile" />
  <div class="bavette">
    <img src="bavette.webp" alt="" />
  </div>
  <div class="pics-container" *ngIf="!isMobile">
    <div class="pics">
      <img src="cote-boeuf-home.webp" alt="" />
      <img src="porc.webp" alt="" />
    </div>
  </div>
  <div class="button-container">
    <button (click)="callNumber()" class="call-button" *ngIf="isMobile">Appeler</button>
    <button (click)="goDevis()" class="devis-button">Demander un devis</button>
  </div>
  <div class="grille-container">
    <img src="grilles/Grille_gris.svg" alt="" />
  </div>
</div>
