<div class="bottom-block-container">
  <img class="logo" src="LBG_Logo.svg" alt="Les Bonnes Gueules" />
  <div class="bavette">
    <img src="bavette.jpeg" alt="Bavette" />
  </div>
  <div class="pics-container">
    <img src="hadri-quent.png" alt="Hadri Quent" />
    <img src="porc.png" alt="Porc" />
  </div>
  <div class="button-container">
    <button (click)="goDevis()" class="call-button">Appeler</button>
    <button (click)="goDevis()" class="devis-button">Demander un devis</button>
  </div>
  <div class="grille-container">
    <img src="grille-zoom.svg" alt="Grille" />
  </div>
</div>
