@import 'media';

.bottom-block-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 17, 17, 1);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  margin-bottom: 72px;
  z-index: 1;

  .devis-button {
    text-transform: uppercase;
    &:hover {
      background-color: rgba(17, 17, 17, 1);
      color: rgba(241, 235, 222, 1);
      border: 1px solid rgba(241, 235, 222, 1);
    }
  }
}

.grille-container {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.logo {
  position: absolute;
  height: 300px;
  top: -55px;
  left: 78px;
  z-index: 2;
}

.bavette {
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: -395px;
    left: -5px;
    width: 1600px;
    height: auto;
  }
}

.pics-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 76px;
  z-index: 1;
  overflow: hidden;
  position: relative;
  height: 450px;
  .pics {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 32px;
  }
}

@media (min-width: $tablet-hori) and (max-width: $tablet-hori-xl) {
  .bavette {
    height: 400px;
    img {
      top: -70%;
      left: -3px;
      height: 200%;
      width: auto;
    }
  }

  .pics-container {
    position: relative;
    height: 350px;
    width: 100%;

    .pics {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      gap: 4%;
    }
  }
}

@media (min-width: $tablet-vert) and (max-width: $tablet-vert-xl) {
  .bavette {
    height: 250px;
    width: 100%;

    img {
      top: -70%;
      left: -3%;
      height: 230%;
      width: auto;
      z-index: 1;
    }
  }

  .button-container {
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    .devis-button {
      margin-bottom: 100px;
    }

    button {
      width: 210px;
    }
  }

  .grille-container {
    height: 320px;
  }
}

@media (min-width: $mobile-s) and (max-width: $mobile-xl) {
  .bavette {
    height: 300px;
    width: 100%;

    img {
      top: -70px;
      left: -190px;
      height: 435px;
      width: auto;
      z-index: 1;
    }
  }

  .button-container {
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    .devis-button {
      margin-bottom: 50px;
    }

    button {
      width: 210px;
    }
  }

  .grille-container {
    height: 306px;
  }
}
