@import 'media';

//// DESKSTOP /////

.bottom-block-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 17, 17, 1);
}

.pics-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 76px;
  z-index: 1;
  overflow: hidden;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  margin-bottom: 72px;
  z-index: 1;

  .devis-button {
    text-transform: uppercase;
    &:hover {
      background-color: rgba(17, 17, 17, 1);
      color: rgba(241, 235, 222, 1);
      border: 1px solid rgba(241, 235, 222, 1);
    }
  }
}

.grille-container {
  height: 450px;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  img {
    height: auto;
    width: 1555px;
    object-fit: cover;
  }
}

.logo {
  position: absolute;
  height: 300px;
  top: -55px;
  left: 78px;
  z-index: 2;
}

.bavette {
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: -395px;
    left: -5px;
    width: 1600px;
    height: auto;
  }
}

////////////////

//// MOBILE /////
@media (max-width: $tablet-vert) {
  .bavette {
    height: 250px;
    width: 100%;

    @media (max-width: $mobile) {
      height: 300px;
    }

    img {
      top: -155px;
      left: -15px;
      height: 550px;
      width: auto;
      z-index: 1;
      @media (max-width: $mobile) {
        top: -70px;
        left: -190px;
        height: 435px;
      }
    }
  }

  .button-container {
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    @media (max-width: $mobile) {
      height: 306px;
    }

    .devis-button {
      margin-bottom: 100px;
      @media (max-width: $mobile) {
        margin-bottom: 0;
      }
    }

    button {
      width: 210px;
    }
  }
}
////////////////
