<div class="notices-container">
  <div class="legal-notices">
    <h1>Mentions légales</h1>

    <h2>Éditeur du site</h2>
    <p>
      Site édité par : <strong>Kévin Caron</strong><br />
      Email : <a href="mailto:kevin.caron.91@gmail.com">kevin.caron.91&#64;gmail.com</a><br />
      Statut : Freelance<br />
      SIRET : En cours d'obtention<br />
    </p>

    <h2>Direction Artistique et Ergonomie</h2>
    <p>
      Julie Debarre<br />
      Graphiste & Designer UI/UX<br />
      Mail : <a href="mailto:julie.debarre@yahoo.fr">julie.debarre&#64;yahoo.fr</a><br />
      Site :
      <a href="https://www.julie-debarre.com/" target="_blank" rel="noopener"
        >www.julie-debarre.com</a
      ><br />
      Instagram :
      <a href="https://www.instagram.com/ju.deb_design/" target="_blank" rel="noopener"
        >&#64;ju.deb_design</a
      >
    </p>

    <h2>Hébergement</h2>
    <p>
      Hébergeur : OVH SAS<br />
      Siège social : 2 rue Kellermann, 59100 Roubaix – France<br />
      Site web : <a href="https://www.ovhcloud.com" target="_blank">www.ovhcloud.com</a>
    </p>

    <h2>Propriété intellectuelle</h2>
    <p>
      Tous les contenus présents sur ce site (textes, images, logos, etc.) sont la propriété
      exclusive de
      <strong>Les Bonnes Gueules</strong> ou utilisés avec autorisation. Toute reproduction,
      distribution ou utilisation sans autorisation est interdite.
    </p>

    <h2>Responsabilité</h2>
    <p>
      L’éditeur du site ne saurait être tenu responsable des erreurs ou omissions dans les
      informations diffusées ni de l’utilisation qui pourrait en être faite.
    </p>

    <h2>Contact</h2>
    <p>
      Pour toute demande, vous pouvez écrire à :<br />
      <a href="mailto:brasserielesbonnesgueules@gmail.com"
        >brasserielesbonnesgueules&#64;gmail.com</a
      >
    </p>
  </div>
</div>
