@import 'media';

.notices-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  background-color: rgba(241, 235, 222, 1);
  border-bottom: 1px solid rgba(17, 17, 17, 1);
  text-transform: uppercase;
}

.legal-notices {
  width: 89%;
  font-family: 'Azeret Mono', monospace;
  margin-bottom: 5%;
  margin-top: 5%;

  h1 {
    font-family: 'Paper Johnny Eins', sans-serif;
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
  }

  a {
    color: rgba(17, 17, 17, 1);
    &:hover {
      text-decoration: none;
    }
  }
}

@media (min-width: $tablet-hori) and (max-width: $tablet-hori-xl) {
  .legal-notices {
    width: 90%;
  }
}

@media (min-width: $tablet-vert) and (max-width: $tablet-vert-xl) {
  .legal-notices {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 17%;

    p {
      line-height: 20px;
    }
  }
}

@media (min-width: $mobile-s) and (max-width: $mobile-xl) {
  .legal-notices {
    width: 85%;
    margin-top: 20%;
    margin-bottom: 30%;

    p {
      line-height: 20px;
    }
  }
}
