<div class="page-container">
  <div class="team-container">
    <h1>L'équipe</h1>
    <div class="grille-container">
      <img src="grilles/Grille_gris.svg" alt="Grille" />
    </div>
    <app-team-card class="card" />
  </div>
  <div class="bottom-container">
    <img src="grilles/Grille_beige.svg" alt="Grille" />
    <div class="text-container">
      <div class="title" *ngIf="!isTabletVert">
        Vous voulez passer <br *ngIf="!isMobile" />un bon repas avec nous ?
      </div>
      <div class="title" *ngIf="isTabletVert">Vous voulez passer un bon repas avec nous ?</div>
      <div class="button-container">
        <button (click)="goDevis()" class="devis-button">Demander un devis</button>
        <button (click)="callNumber()" class="call-button" *ngIf="isMobile || isTabletVert">
          Appeler
        </button>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="cote-boeuf.webp" alt="" />
  </div>
</div>
