<div class="plats-container">
  <div class="grille-container">
    <img class="grille" src="Grille.svg" alt="Grille" />
    <img class="grille" src="Grille.svg" alt="Grille" />
  </div>
  <div class="top">
    <div class="image-container">
      <img src="porc.png" alt="Porc" />
    </div>

    <div class="terre-container">
      <h1>Coté terre</h1>
      <div class="text-container">
        <div class="list-container">
          <p><span class="dot"></span>Côte de boeuf</p>
          <p><span class="dot"></span>Côte d'agneau</p>
          <p><span class="dot"></span>Côte de cochon</p>
          <p><span class="dot"></span>Cotelette d'agneau</p>
          <p><span class="dot"></span>filet de boeuf</p>
          <p><span class="dot"></span>Poulet mariné</p>
          <p><span class="dot"></span>Magret de canard</p>
          <p><span class="dot"></span>Lomo</p>
        </div>
        <div class="list-container">
          <p><span class="dot"></span>Pluma</p>
          <p><span class="dot"></span>Effiloché de cochon / boeuf (fumé maison)</p>
          <p><span class="dot"></span>Jambon à la broche</p>
          <p><span class="dot"></span>Agneau à la broche</p>
          <p><span class="dot"></span>Aligot saucisse</p>
          <p><span class="dot"></span>Carbonade flamande</p>
        </div>
      </div>
    </div>
    <div class="mer-container">
      <h1>Coté mer</h1>
      <div class="text-container">
        <div class="list-container">
          <p><span class="dot"></span>Saumon</p>
          <p><span class="dot"></span>Truite de Loire</p>
          <p><span class="dot"></span>Moules</p>
          <p><span class="dot"></span>Calamar persillé</p>
          <p><span class="dot"></span>Gambas persillée</p>
        </div>
      </div>
    </div>
  </div>
</div>
