@import 'media';

.plats-container {
  height: 465px;
  display: flex;
  flex-direction: column;

  .grille-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 0;
    height: 465px;
    width: 100%;
    .grille {
      position: absolute;
      object-fit: cover;
    }
  }

  img {
    z-index: 1;
  }

  .menu-container {
    height: auto;
    display: flex;
    flex-direction: row;
  }
}

.top {
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 465px;
  border-bottom: 1px solid rgba(17, 17, 17, 1);

  .image-container {
    width: 389px;
    display: flex;
    overflow: hidden;
  }

  .terre-container {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 114px;

    @media (max-width: $tablet-hori) {
      margin-right: 45px;
      margin-left: 29px;
    }
  }
}

h1 {
  margin-top: 64px;
  font-family: 'Paper Johnny Eins', sans-serif;
  font-size: 33px;
  text-transform: uppercase;
}

.text-container {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  font-family: 'Azeret Mono', monospace;
  text-transform: uppercase;

  .list-container {
    width: 200px;
    line-height: 30px;
  }
}

@media (max-width: $tablet-vert) {
  .plats-container {
    height: auto;

    .grille-container {
      height: 770px;
    }

    .menu-container {
      height: auto;
      display: flex;
      flex-direction: row;

      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }
  }

  .top {
    flex-direction: column-reverse;
    height: auto;

    .image-container {
      height: 400px;
      width: 100%;
      position: relative;

      @media (max-width: $mobile) {
        height: 263px;
      }

      img {
        height: 730px;
        position: absolute;
        width: auto;
        top: -170px;
        left: 0px;

        @media (max-width: $mobile) {
          height: 370px;
          top: -60px;
          left: 0px;
        }
      }
    }

    .terre-container {
      margin-left: 40px;
      height: 500px;

      @media (max-width: $mobile) {
        height: 420px;
        margin-left: 40px;
      }

      .text-container {
        gap: 20px;
        width: 335px;
      }
    }

    .mer-container {
      margin-left: 40px;

      @media (max-width: $mobile) {
        margin-left: 40px;
        margin-bottom: 40px;
      }
    }
  }
}
